typeset -U path

[[ -d "$HOME/bin" ]] && path=("$HOME/bin" $path)
[[ -d "$HOME/.local/bin" ]] && path=("$HOME/.local/bin" $path)
[[ -d "$HOME/.cargo/bin" ]] && path=("$HOME/.cargo/bin" $path)

export PATH

{{ if .using_yubikey -}}
# GPG agent for YubiKey commit signing + SSH auth
export SSH_AUTH_SOCK=$HOME/.gnupg/S.gpg-agent.ssh
{{ end -}}

# Pretty ls colors
export LSCOLORS='GxFxCxExBxGxFxBxBxCxEx'

# Local override, not tracked in Chezmoi / Git
if [ -f $HOME/.zshenv_override ]; then
    source "$HOME/.zshenv_override"
fi
